:root {
    --bg-color: #fff;
    --color: #000;
    --shadow-color: #9993;
    --heigth: 80px;
    --font: 30px;
}

html {
    background: var(--bg-color);
}

#S {
    width: 60%;
    margin: 100px auto 40px auto;
    display: flex;
    justify-content: space-evenly;
}

.s {
    /* margin: 0 10px 0 10px; */
    color: #000000;
    font-size: var(--font);
    text-align: center;
    color: var(--color);
}

.all {
    display: flex;
    width: 60%;
    height: var(--heigth);
    border: 0px solid black;
    border-radius: 40px;
    background-color: var(--bg-color);
    margin: 0 auto;
    /*     box-shadow: 0px 0px 30px #dddddd; */
    border: 1px #fff solid;
}

#mySelect {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    height: var(--heigth);
    border: 0px;
    outline: none;
    margin: 0px;
    padding-left: 9px;
    font-size: var(--font);
    color: var(--color);
}

.button {
    width: var(--heigth);
    height: var(--heigth);
    border-radius: 50%;
    background-image: url(../img/go.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#text {
    width: 0;
    flex-grow: 1;
    height: var(--heigth);
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    font-size: var(--font);
    color: var(--color);
}

#suggestion {
    margin: 0 auto;
    width: 60%;
}

.sg_item {
    transition: 0.3s;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.sg_item:hover {
    background-color: var(--shadow-color);
}

.sg_s {
    background-color: var(--shadow-color);
}

@media (max-width: 900px) {
    .s {
        font-size: 16px;
    }

    .all {
        width: 90%;
    }

    #S {
        margin: 0 0 140px 0;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --color: #fff;
    }
}
